//  Font Families
$FontFamilyRoboto: "Roboto", sans-serif;
$FontFamilyRobotoCondensed: "Roboto Condensed", sans-serif;
$FontFamilyRubik: "Rubik", sans-serif;

//  Font-Families
$FontFamilyDefault: $FontFamilyRubik;
$FontFamilyDefaultCondensed: 'Roboto Condensed', sans-serif;

//  Font-Weight
$FontWeightLight: 300;
$FontWeightRegular: 400;
$FontWeightMedium: 500;
$FontWeightBold: 700;
