@import '../variables';
@import '../variables_new';

// Line of guide outside of chart
.amcharts-axis-tick.amcharts-guide {
  stroke: $SignalColorError;
}

// Export button
.amcharts-export-menu.amcharts-export-menu-top-right.amExportButton {
  right: 0;
  top: $SizeRegular;

  .export-main > a,
  .export-drawing > a {
    background: none;

    &:after {
      font-family: 'GC-icons', sans-serif;
      font-size: 16px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include cssVariable(color, $PrimaryColor);
      text-indent: 0;
      text-align: center;
      line-height: 36px;
    }
  }

  .export-main > a {
    &:after {
      content: '\e927';
    }
  }

  .export-drawing > a {
    &:after {
      content: '\e925';
    }
  }

  .export-main:hover > a,
  .export-main:active > a,
  .export-drawing:hover > a,
  .export-drawing:active > a {
    &:after {
      color: $FontColorInverted;
      @include cssVariable(background-color, $PrimaryColor);
    }
  }
}

.amcharts-graph-column {
  cursor: pointer;
}

// Chart cursors
.amcharts-balloon-div {
  padding: 0 !important;
  &.amcharts-balloon-div-salesAxis,
  &.amcharts-balloon-div-temperatureAxis,
  &.amcharts-balloon-div-categoryAxis {
    padding: 0;
    box-shadow: none;
    background: none;
    margin-left: 0;
  }
}

/**
 * Info panel/balloon
 */
.amcharts-balloon-div {
  @mixin background-image($path) {
    .#{$path} {
      background-image: url('./assets/img/weather-icons/#{$path}-tinted.svg');
    }
  }

  // Generate classes for weather icons
  @include background-image(clear-day);
  @include background-image(clear-night);
  @include background-image(cloudy);
  @include background-image(fog);
  @include background-image(partly-cloudy-day);
  @include background-image(partly-cloudy-night);
  @include background-image(rain);
  @include background-image(sleet);
  @include background-image(snow);
  @include background-image(thunderstorm);
  @include background-image(wind);
  @include background-image(raindrop);
}

.gc-sales-info-panel {
  &__header {
    @include caption1-2();
    color: white;
    background-color: $Gray7;
    width: 100%;
    height: $SizeLarge;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 $SizeSmall;
  }

  &__wrapper {
    color: white;
    background-color: $Gray9;
    opacity: 0.95;
  }

  &__date {
    white-space: nowrap;
    text-align: left;
    line-height: 20px;
    flex-shrink: 0;
    margin-right: $SizeRegular/2;

    &--first-line {
      @include cssVariable(color, $PrimaryColor);
    }

    &--second-line {
      color: $FontColorStandard;
    }
  }

  &__weather {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: $SizeRegular/2;
  }

  &__temperature {
    display: flex;
    line-height: 20px;

    &-icon {
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      flex-shrink: 0;
      margin-right: $SizeSmall;
    }

    &-value {
      white-space: nowrap;
      text-align: left;
    }
  }

  &__precipitation {
    display: flex;
    line-height: 20px;

    &-icon {
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: 10px;
      background-position: right;
      flex-shrink: 0;
      margin-right: $SizeSmall;
    }

    &-value {
      color: $RainColor;
      white-space: nowrap;
      text-align: left;
    }
  }

  table {
    table-layout: fixed;
  }

  &__table {
    table-layout: fixed;
    width: 100%;

    &-container {
      position: relative;
      max-width: 364px;

      &--half-width {
        max-width: 175px;
      }
    }
  }

  &__article-nameColumn {
    padding-left: $SizeSmall;
  }

  &__article-valueColumn {
    padding-right: $SizeSmall;
    padding-left: $SizeVeryLarge; // Minimal padding between name and values

    div.gc-sales-info-panel__article-row {
      justify-content: flex-end;
    }
  }

  &__article-row {
    width: 100%;
    height: $SizeLarge;
    margin: $SizeTiny 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__label {
      display: flex;
      align-items: center;

      &__color-circle {
        width: 9px;
        height: 9px;
        min-width: 9px;
        min-height: 9px;
        max-width: 9px;
        max-height: 9px;
        border-radius: 50%;
        margin-right: $SizeTiny;
      }
      &__name {
        @include caption1();
        color: white;
      }
    }

    &__value {
      @include caption1();
      color: white;
    }
  }

  &__spacer {
    width: $SizeRegular;
    min-width: $SizeRegular;
    max-width: $SizeRegular;
  }

  &__color-circle {
    width: 15px;
    height: 15px;
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: $SizeSmall;
  }

  &__popover-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: $SizeLarge;
    align-items: center;
    border-top: 1px solid $Gray7;
    padding: 0 $SizeSmall $SizeTiny $SizeSmall;
  }

  &__main-content-container {
    display: flex;
    justify-content: space-between;
  }

  &__sum {
    &-text {
      @include caption1-2();
      color: white;
    }
    &-value {
      @include caption1-2();
      color: white;
      margin-left: $SizeVeryLarge;
    }
  }

  &__average {
    color: $SignalColorSuccess;
    &-text {
    }
    &-value {
    }
  }
  &__prev-year {
    color: $MiscellaneousColor;
    &-text {
    }
    &-value {
    }
  }

  &__day-detail {
    margin: 0 auto;
    font-size: $FontSizeRegular;
    @include cssVariable(color, $PrimaryColorHover);
    padding: $SizeSmall 0;
    border-top: 1px solid $DisabledBorderColor;
  }

  &__icon {
    margin-left: $SizeSmall;
  }
}
