@import './../variables';

.gc-saving-status {
  color: $FontColorVeryLight;
  align-self: flex-end;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: $SizeSmall;
    width: $SizeMedium;
    height: $SizeMedium;
    border: 2px solid transparent;
  }

  &--saving {
    &:after {
      border-left: 2px solid $DisabledBorderColor;
      border-top: 2px solid $DisabledBorderColor;
      border-radius: 50%;

      animation: loadingAnimation 1s linear infinite;
    }

    @keyframes loadingAnimation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  &--saved {
    &:after {
      content: $gc-icon__correct;
      color: $SignalColorSuccess;
      font-family: 'GC-icons' !important;

      animation: saveAnimation 1s ease-in-out;
      animation-fill-mode: forwards;
    }

    @keyframes saveAnimation {
      0% {
        transform: scale(0);
        opacity: 1;
      }
      20% {
        transform: scale(1);
        opacity: 1;
      }
      80% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
