// Navigation
$ZIndexNavigation: 999;

// Footer
$ZIndexFooter: 996;
$ZIndexTimeSlider: 995;

// Notification-Center
$ZIndexNotificationCenter: 990;
$ZIndexNotification: 990;
$ZIndexOpenNotificationCenter: 998;
$ZIndexNotificationCenterOverlay: 997;

// Modules
$ZIndexModuleDefault: 10;
$ZIndexModuleDetailDefault: 11;
$ZIndexModuleActiveOverlay: 992;
$ZIndexModuleActive: 994;
$ZIndexModuleDetailActive: 993;
$ZIndexModuleOptions: 994;
$ZIndexModuleFilter: 995;
$ZIndexServiceOverlay: 996;

// Dashboard
$ZIndexNoDataOverlay: 15;
$ZIndexAddModulesContainerOverlay: 999;
$ZIndexAddModulesContent: 1000;
$ZIndexUserMessage: 998;
$ZIndexLoadingOverlay: 1000;
$ZIndexSelect: 997;
$ZIndexLanguageSelect: 1000;
$ZIndexFooterOverlay: 1001;
$ZIndexImportOverlay: 1002;

// Controlcenter-Costs
$ZIndexAddCostsOverlay: 990;
$ZIndexAddCostsPanel: 991;
$ZIndexCostsSuggestions: 992;
$ZIndexCostsAddButton: 993;

// Snackbar
// nothing should be above snackbar
$ZIndexSnackbar: 999999999;

// Events
$ZIndexEventEditPanel: 998;
$ZIndexEventEditOverlay: 997;

// Modal
$ZIndexModal: 2002;
$ZIndexModalBackdrop: 2001;

// Cookie banner
$ZIndexCookieBanner: 1100;
