@import 'variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?91e0z9');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?91e0z9#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?91e0z9') format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?91e0z9') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?91e0z9') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?91e0z9##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='gc-icon__'],
[class*=' gc-icon__'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gc-icon__info-circle-Fill {
  &:before {
    content: $gc-icon__info-circle-Fill;
  }
}
.gc-icon__warning-circle-Fill {
  &:before {
    content: $gc-icon__warning-circle-Fill;
  }
}
.gc-icon__close-Line-S {
  &:before {
    content: $gc-icon__close-Line-S;
  }
}
.gc-icon__money-Line-R {
  &:before {
    content: $gc-icon__money-Line-R;
  }
}
.gc-icon__module-breakeven-circle-Fill {
  &:before {
    content: $gc-icon__module-breakeven-circle-Fill;
  }
}
.gc-icon__module-revenue-circle-Fill {
  &:before {
    content: $gc-icon__module-revenue-circle-Fill;
  }
}
.gc-icon__module-service-circle-Fill {
  &:before {
    content: $gc-icon__module-service-circle-Fill;
  }
}
.gc-icon__module-table-analysis-circle-Fill {
  &:before {
    content: $gc-icon__module-table-analysis-circle-Fill;
  }
}
.gc-icon__module-target-circle-Fill {
  &:before {
    content: $gc-icon__module-target-circle-Fill;
  }
}
.gc-icon__module-topseller-circle-Fill {
  &:before {
    content: $gc-icon__module-topseller-circle-Fill;
  }
}
.gc-icon__module-target-circle-Line-L {
  &:before {
    content: $gc-icon__module-target-circle-Line-L;
  }
}
.gc-icon__update-Line-L {
  &:before {
    content: $gc-icon__update-Line-L;
  }
}
.gc-icon__tooltip-Line-L {
  &:before {
    content: $gc-icon__tooltip-Line-L;
  }
}
.gc-icon__communication-Fill {
  &:before {
    content: $gc-icon__communication-Fill;
  }
}
.gc-icon__communication-Line-R {
  &:before {
    content: $gc-icon__communication-Line-R;
  }
}
.gc-icon__company-Fill {
  &:before {
    content: $gc-icon__company-Fill;
  }
}
.gc-icon__company-Line-L {
  &:before {
    content: $gc-icon__company-Line-L;
  }
}
.gc-icon__company-Line-R {
  &:before {
    content: $gc-icon__company-Line-R;
  }
}
.gc-icon__message-Fill {
  &:before {
    content: $gc-icon__message-Fill;
  }
}
.gc-icon__message-Line-L {
  &:before {
    content: $gc-icon__message-Line-L;
  }
}
.gc-icon__message-Line-R {
  &:before {
    content: $gc-icon__message-Line-R;
  }
}
.gc-icon__message-Line-S {
  &:before {
    content: $gc-icon__message-Line-S;
  }
}
.gc-icon__phone-Line-Fill {
  &:before {
    content: $gc-icon__phone-Line-Fill;
  }
}
.gc-icon__phone-Line-L {
  &:before {
    content: $gc-icon__phone-Line-L;
  }
}
.gc-icon__phone-Line-R {
  &:before {
    content: $gc-icon__phone-Line-R;
  }
}
.gc-icon__phone-Line-S {
  &:before {
    content: $gc-icon__phone-Line-S;
  }
}
.gc-icon__arrow-down-1-Line-S {
  &:before {
    content: $gc-icon__arrow-down-1-Line-S;
  }
}
.gc-icon__person-Line-R {
  &:before {
    content: $gc-icon__person-Line-R;
  }
}
.gc-icon__persons-Line-R {
  &:before {
    content: $gc-icon__persons-Line-R;
  }
}
.gc-icon__time-periods-Line-R {
  &:before {
    content: $gc-icon__time-periods-Line-R;
  }
}
.gc-icon__service-Line-R {
  &:before {
    content: $gc-icon__service-Line-R;
  }
}
.gc-icon__costs-Line-R {
  &:before {
    content: $gc-icon__costs-Line-R;
  }
}
.gc-icon__budget-Line-R {
  &:before {
    content: $gc-icon__budget-Line-R;
  }
}
.gc-icon__premises-Line-R {
  &:before {
    content: $gc-icon__premises-Line-R;
  }
}
.gc-icon__access-time-Line-S {
  &:before {
    content: $gc-icon__access-time-Line-S;
  }
}
.gc-icon__store-Fill {
  &:before {
    content: $gc-icon__store-Fill;
  }
}
.gc-icon__store-Line-R {
  &:before {
    content: $gc-icon__store-Line-R;
  }
}
.gc-icon__store-double-Fill {
  &:before {
    content: $gc-icon__store-double-Fill;
  }
}
.gc-icon__store-double-Line-L {
  &:before {
    content: $gc-icon__store-double-Line-L;
  }
}
.gc-icon__unlink-Line-R {
  &:before {
    content: $gc-icon__unlink-Line-R;
  }
}
.gc-icon__link-Line-R {
  &:before {
    content: $gc-icon__link-Line-R;
  }
}
.gc-icon__close-Line-R {
  &:before {
    content: $gc-icon__close-Line-R;
  }
}
.gc-icon__search-Line-R {
  &:before {
    content: $gc-icon__search-Line-R;
  }
}
.gc-icon__arrow-right-3-Line-S1 {
  &:before {
    content: $gc-icon__arrow-right-3-Line-S1;
  }
}
.gc-icon__arrow-left-3-Line-S1 {
  &:before {
    content: $gc-icon__arrow-left-3-Line-S1;
  }
}
.gc-icon__error-circle-Fill {
  &:before {
    content: $gc-icon__error-circle-Fill;
  }
}
.gc-icon__success-circle-Fill {
  &:before {
    content: $gc-icon__success-circle-Fill;
  }
}
.gc-icon__cockpit-32 {
  &:before {
    content: $gc-icon__cockpit-32;
  }
}
.gc-icon__cockpit-Fill-32 .path1 {
  &:before {
    content: $gc-icon__cockpit-Fill-32-path1;
    color: rgb(229, 242, 244);
  }
}
.gc-icon__cockpit-Fill-32 .path2 {
  &:before {
    content: $gc-icon__cockpit-Fill-32-path2;
    margin-left: -1em;
    color: rgb(24, 125, 152);
  }
}
.gc-icon__dashboard-32 {
  &:before {
    content: $gc-icon__dashboard-32;
  }
}
.gc-icon__dashboard-Fill-32 .path1 {
  &:before {
    content: $gc-icon__dashboard-Fill-32-path1;
    color: rgb(229, 242, 244);
  }
}
.gc-icon__dashboard-Fill-32 .path2 {
  &:before {
    content: $gc-icon__dashboard-Fill-32-path2;
    margin-left: -1em;
    color: rgb(0, 125, 150);
  }
}
.gc-icon__modules-32 {
  &:before {
    content: $gc-icon__modules-32;
  }
}
.gc-icon__modules-Fill-32 .path1 {
  &:before {
    content: $gc-icon__modules-Fill-32-path1;
    color: rgb(229, 242, 244);
  }
}
.gc-icon__modules-Fill-32 .path2 {
  &:before {
    content: $gc-icon__modules-Fill-32-path2;
    margin-left: -1em;
    color: rgb(24, 125, 152);
  }
}
.gc-icon__pos-32 {
  &:before {
    content: $gc-icon__pos-32;
  }
}
.gc-icon__pos-Fill-32 .path1 {
  &:before {
    content: $gc-icon__pos-Fill-32-path1;
    color: rgb(229, 242, 244);
  }
}
.gc-icon__pos-Fill-32 .path2 {
  &:before {
    content: $gc-icon__pos-Fill-32-path2;
    margin-left: -1em;
    color: rgb(24, 125, 152);
  }
}
.gc-icon__store-32 {
  &:before {
    content: $gc-icon__store-32;
  }
}
.gc-icon__store-Fill-32 .path1 {
  &:before {
    content: $gc-icon__store-Fill-32-path1;
    color: rgb(229, 242, 244);
  }
}
.gc-icon__store-Fill-32 .path2 {
  &:before {
    content: $gc-icon__store-Fill-32-path2;
    margin-left: -1em;
    color: rgb(24, 125, 152);
  }
}
.gc-icon__tc-32 {
  &:before {
    content: $gc-icon__tc-32;
  }
}
.gc-icon__tc-Fill-32 .path1 {
  &:before {
    content: $gc-icon__tc-Fill-32-path1;
    color: rgb(229, 242, 244);
  }
}
.gc-icon__tc-Fill-32 .path2 {
  &:before {
    content: $gc-icon__tc-Fill-32-path2;
    margin-left: -1em;
    color: rgb(24, 125, 152);
  }
}
.gc-icon__location-Line-L {
  &:before {
    content: $gc-icon__location-Line-L;
  }
}
.gc-icon__location-Line-R {
  &:before {
    content: $gc-icon__location-Line-R;
  }
}
.gc-icon__location-Line-S {
  &:before {
    content: $gc-icon__location-Line-S;
  }
}
.gc-icon__email-Fill-2 {
  &:before {
    content: $gc-icon__email-Fill-2;
  }
}
.gc-icon__arrow-left-3-Line-L {
  &:before {
    content: $gc-icon__arrow-left-3-Line-L;
  }
}
.gc-icon__arrow-left-3-Line-R {
  &:before {
    content: $gc-icon__arrow-left-3-Line-R;
  }
}
.gc-icon__arrow-left-3-Line-S {
  &:before {
    content: $gc-icon__arrow-left-3-Line-S;
  }
}
.gc-icon__tooltip-Fill {
  &:before {
    content: $gc-icon__tooltip-Fill;
  }
}
.gc-icon__arrow-right-3-Line-S {
  &:before {
    content: $gc-icon__arrow-right-3-Line-S;
  }
}
.gc-icon__arrow-right-3-Line-L {
  &:before {
    content: $gc-icon__arrow-right-3-Line-L;
  }
}
.gc-icon__arrow-right-3-Line-R {
  &:before {
    content: $gc-icon__arrow-right-3-Line-R;
  }
}
.gc-icon__checkbox-Line-L {
  &:before {
    content: $gc-icon__checkbox-Line-L;
  }
}
.gc-icon__checkbox-Line-L1 {
  &:before {
    content: $gc-icon__checkbox-Line-L1;
  }
}
.gc-icon__dropdown-arrow-down-Fill {
  &:before {
    content: $gc-icon__dropdown-arrow-down-Fill;
  }
}
.gc-icon__dropdown-arrow-up-Fill {
  &:before {
    content: $gc-icon__dropdown-arrow-up-Fill;
  }
}
.gc-icon__thumb-bad-Fill {
  &:before {
    content: $gc-icon__thumb-bad-Fill;
  }
}
.gc-icon__thumb-good-Fill {
  &:before {
    content: $gc-icon__thumb-good-Fill;
  }
}
.gc-icon__account-Line-L {
  &:before {
    content: $gc-icon__account-Line-L;
  }
}
.gc-icon__exit-Line-L {
  &:before {
    content: $gc-icon__exit-Line-L;
  }
}
.gc-icon__settings-Line-L {
  &:before {
    content: $gc-icon__settings-Line-L;
  }
}
.gc-icon__currency-Line-R {
  &:before {
    content: $gc-icon__currency-Line-R;
  }
}
.gc-icon__device-access-time-Line-R {
  &:before {
    content: $gc-icon__device-access-time-Line-R;
  }
}
.gc-icon__correct {
  &:before {
    content: $gc-icon__correct;
  }
}
.gc-icon__country {
  &:before {
    content: $gc-icon__country;
  }
}
.gc-icon__data {
  &:before {
    content: $gc-icon__data;
  }
}
.gc-icon__location {
  &:before {
    content: $gc-icon__location;
  }
}
.gc-icon__email {
  &:before {
    content: $gc-icon__email;
  }
}
.gc-icon__false {
  &:before {
    content: $gc-icon__false;
  }
}
.gc-icon__password1 {
  &:before {
    content: $gc-icon__password1;
  }
}
.gc-icon__password2 {
  &:before {
    content: $gc-icon__password2;
  }
}
.gc-icon__person {
  &:before {
    content: $gc-icon__person;
  }
}
.gc-icon__personAdd {
  &:before {
    content: $gc-icon__personAdd;
  }
}
.gc-icon__persons {
  &:before {
    content: $gc-icon__persons;
  }
}
.gc-icon__personsContour {
  &:before {
    content: $gc-icon__personsContour;
  }
}
.gc-icon__personsContourSmall {
  &:before {
    content: $gc-icon__personsContourSmall;
  }
}
.gc-icon__phone {
  &:before {
    content: $gc-icon__phone;
  }
}
.gc-icon__search {
  &:before {
    content: $gc-icon__search;
  }
}
.gc-icon__add {
  &:before {
    content: $gc-icon__add;
  }
}
.gc-icon__addSmall_1 {
  &:before {
    content: $gc-icon__addSmall_1;
  }
}
.gc-icon__addSmall {
  &:before {
    content: $gc-icon__addSmall;
  }
}
.gc-icon__arrow-down-1-Line-R {
  &:before {
    content: $gc-icon__arrow-down-1-Line-R;
  }
}
.gc-icon__arrowDownWide {
  &:before {
    content: $gc-icon__arrowDownWide;
  }
}
.gc-icon__arrowRightWide {
  &:before {
    content: $gc-icon__arrowRightWide;
  }
}
.gc-icon__arrowLeftWide {
  &:before {
    content: $gc-icon__arrowLeftWide;
  }
}
.gc-icon__arrow-left-1-Line-R {
  &:before {
    content: $gc-icon__arrow-left-1-Line-R;
  }
}
.gc-icon__arrow-right-1-Line-R {
  &:before {
    content: $gc-icon__arrow-right-1-Line-R;
  }
}
.gc-icon__arrow-up-1-Line-R {
  &:before {
    content: $gc-icon__arrow-up-1-Line-R;
  }
}
.gc-icon__arrowUpWide {
  &:before {
    content: $gc-icon__arrowUpWide;
  }
}
.gc-icon__back {
  &:before {
    content: $gc-icon__back;
  }
}
.gc-icon__backSmall {
  &:before {
    content: $gc-icon__backSmall;
  }
}
.gc-icon__backward {
  &:before {
    content: $gc-icon__backward;
  }
}
.gc-icon__backwardSmall {
  &:before {
    content: $gc-icon__backwardSmall;
  }
}
.gc-icon__closeBar {
  &:before {
    content: $gc-icon__closeBar;
  }
}
.gc-icon__currency {
  &:before {
    content: $gc-icon__currency;
  }
}
.gc-icon__dashboard {
  &:before {
    content: $gc-icon__dashboard;
  }
}
.gc-icon__close {
  &:before {
    content: $gc-icon__close;
  }
}
.gc-icon__drag {
  &:before {
    content: $gc-icon__drag;
  }
}
.gc-icon__edit {
  &:before {
    content: $gc-icon__edit;
  }
}
.gc-icon__errorContour {
  &:before {
    content: $gc-icon__errorContour;
  }
}
.gc-icon__export {
  &:before {
    content: $gc-icon__export;
  }
}
.gc-icon__eyeInvisible {
  &:before {
    content: $gc-icon__eyeInvisible;
  }
}
.gc-icon__eyeVisible {
  &:before {
    content: $gc-icon__eyeVisible;
  }
}
.gc-icon__filter {
  &:before {
    content: $gc-icon__filter;
  }
}
.gc-icon__forward {
  &:before {
    content: $gc-icon__forward;
  }
}
.gc-icon__forwardSmall {
  &:before {
    content: $gc-icon__forwardSmall;
  }
}
.gc-icon__fullcreen {
  &:before {
    content: $gc-icon__fullcreen;
  }
}
.gc-icon__fullscreenActive {
  &:before {
    content: $gc-icon__fullscreenActive;
  }
}
.gc-icon__further {
  &:before {
    content: $gc-icon__further;
  }
}
.gc-icon__furtherSmall {
  &:before {
    content: $gc-icon__furtherSmall;
  }
}
.gc-icon__import {
  &:before {
    content: $gc-icon__import;
  }
}
.gc-icon__informationContour {
  &:before {
    content: $gc-icon__informationContour;
  }
}
.gc-icon__noData {
  &:before {
    content: $gc-icon__noData;
  }
}
.gc-icon__noNotifications {
  &:before {
    content: $gc-icon__noNotifications;
  }
}
.gc-icon__notifications {
  &:before {
    content: $gc-icon__notifications;
  }
}
.gc-icon__reload {
  &:before {
    content: $gc-icon__reload;
  }
}
.gc-icon__reset {
  &:before {
    content: $gc-icon__reset;
  }
}
.gc-icon__settings {
  &:before {
    content: $gc-icon__settings;
  }
}
.gc-icon__successContour {
  &:before {
    content: $gc-icon__successContour;
  }
}
.gc-icon__switch {
  &:before {
    content: $gc-icon__switch;
  }
}
.gc-icon__warningContour {
  &:before {
    content: $gc-icon__warningContour;
  }
}
.gc-icon__beverages {
  &:before {
    content: $gc-icon__beverages;
  }
}
.gc-icon__costs {
  &:before {
    content: $gc-icon__costs;
  }
}
.gc-icon__food {
  &:before {
    content: $gc-icon__food;
  }
}
.gc-icon__noon {
  &:before {
    content: $gc-icon__noon;
  }
}
.gc-icon__other {
  &:before {
    content: $gc-icon__other;
  }
}
.gc-icon__revPash {
  &:before {
    content: $gc-icon__revPash;
  }
}
.gc-icon__sales {
  &:before {
    content: $gc-icon__sales;
  }
}
.gc-icon__seat {
  &:before {
    content: $gc-icon__seat;
  }
}
.gc-icon__squareMeter {
  &:before {
    content: $gc-icon__squareMeter;
  }
}
.gc-icon__sunriseSunset {
  &:before {
    content: $gc-icon__sunriseSunset;
  }
}
.gc-icon__tableInside {
  &:before {
    content: $gc-icon__tableInside;
  }
}
.gc-icon__tableOutside {
  &:before {
    content: $gc-icon__tableOutside;
  }
}
.gc-icon__tableOutsideRoof {
  &:before {
    content: $gc-icon__tableOutsideRoof;
  }
}
.gc-icon__tableRotation {
  &:before {
    content: $gc-icon__tableRotation;
  }
}
.gc-icon__tableSales {
  &:before {
    content: $gc-icon__tableSales;
  }
}
.gc-icon__TableSalesCircle {
  &:before {
    content: $gc-icon__TableSalesCircle;
  }
}
.gc-icon__delete {
  &:before {
    content: $gc-icon__delete;
  }
}
.gc-icon__calendar {
  &:before {
    content: $gc-icon__calendar;
  }
}
.gc-icon__trash {
  &:before {
    content: $gc-icon__trash;
  }
}
.gc-icon__check {
  &:before {
    content: $gc-icon__check;
  }
}
.gc-icon__cross {
  &:before {
    content: $gc-icon__cross;
  }
}
.gc-icon__filter-budget-Contour-S {
  &:before {
    content: $gc-icon__filter-budget-Contour-S;
  }
}
.gc-icon__lock-Line {
  &:before {
    content: $gc-icon__lock-Line;
  }
}
.gc-icon__unlock-Line {
  &:before {
    content: $gc-icon__unlock-Line;
  }
}
.gc-icon__lock-Fill {
  &:before {
    content: $gc-icon__lock-Fill;
  }
}
.gc-icon__unlock-Fill {
  &:before {
    content: $gc-icon__unlock-Fill;
  }
}

.gc-icon__more-horiz-Fill {
  &:before {
    content: $gc-icon__more-horiz-Fill;
  }
}
