$icomoon-font-family: 'GC-icons' !default;
$icomoon-font-path: '/admin/assets/icons/fonts' !default;

$gc-icon__info-circle-Fill: '\e9a9';
$gc-icon__warning-circle-Fill: '\e9a8';
$gc-icon__close-Line-S: '\e9aa';
$gc-icon__money-Line-R: '\e9a7';
$gc-icon__module-breakeven-circle-Fill: '\e9a0';
$gc-icon__module-revenue-circle-Fill: '\e9a1';
$gc-icon__module-service-circle-Fill: '\e9a2';
$gc-icon__module-table-analysis-circle-Fill: '\e9a3';
$gc-icon__module-target-circle-Fill: '\e9a4';
$gc-icon__module-topseller-circle-Fill: '\e9a5';
$gc-icon__module-target-circle-Line-L: '\e9a6';
$gc-icon__update-Line-L: '\e99e';
$gc-icon__tooltip-Line-L: '\e99d';
$gc-icon__communication-Fill: '\e998';
$gc-icon__communication-Line-R: '\e999';
$gc-icon__company-Fill: '\e99a';
$gc-icon__company-Line-L: '\e99b';
$gc-icon__company-Line-R: '\e99c';
$gc-icon__message-Fill: '\e990';
$gc-icon__message-Line-L: '\e991';
$gc-icon__message-Line-R: '\e992';
$gc-icon__message-Line-S: '\e993';
$gc-icon__phone-Line-Fill: '\e994';
$gc-icon__phone-Line-L: '\e995';
$gc-icon__phone-Line-R: '\e996';
$gc-icon__phone-Line-S: '\e997';
$gc-icon__arrow-down-1-Line-S: '\e98f';
$gc-icon__person-Line-R: '\e98c';
$gc-icon__persons-Line-R: '\e98d';
$gc-icon__time-periods-Line-R: '\e987';
$gc-icon__service-Line-R: '\e988';
$gc-icon__costs-Line-R: '\e989';
$gc-icon__budget-Line-R: '\e98a';
$gc-icon__premises-Line-R: '\e98b';
$gc-icon__access-time-Line-S: '\e94b';
$gc-icon__store-Fill: '\e911';
$gc-icon__store-Line-R: '\e912';
$gc-icon__store-double-Fill: '\e957';
$gc-icon__store-double-Line-L: '\e958';
$gc-icon__unlink-Line-R: '\e97f';
$gc-icon__link-Line-R: '\e97e';
$gc-icon__close-Line-R: '\e910';
$gc-icon__search-Line-R: '\e97b';
$gc-icon__arrow-right-3-Line-S1: '\e97c';
$gc-icon__arrow-left-3-Line-S1: '\e97d';
$gc-icon__error-circle-Fill: '\e967';
$gc-icon__success-circle-Fill: '\e968';
$gc-icon__cockpit-32: '\e969';
$gc-icon__cockpit-Fill-32-path1: '\e96a';
$gc-icon__cockpit-Fill-32-path2: '\e96b';
$gc-icon__dashboard-32: '\e96c';
$gc-icon__dashboard-Fill-32-path1: '\e96d';
$gc-icon__dashboard-Fill-32-path2: '\e96e';
$gc-icon__modules-32: '\e96f';
$gc-icon__modules-Fill-32-path1: '\e970';
$gc-icon__modules-Fill-32-path2: '\e971';
$gc-icon__pos-32: '\e972';
$gc-icon__pos-Fill-32-path1: '\e973';
$gc-icon__pos-Fill-32-path2: '\e974';
$gc-icon__store-32: '\e975';
$gc-icon__store-Fill-32-path1: '\e976';
$gc-icon__store-Fill-32-path2: '\e977';
$gc-icon__tc-32: '\e978';
$gc-icon__tc-Fill-32-path1: '\e979';
$gc-icon__tc-Fill-32-path2: '\e97a';
$gc-icon__location-Line-L: '\e95f';
$gc-icon__location-Line-R: '\e900';
$gc-icon__location-Line-S: '\e901';
$gc-icon__email-Fill-2: '\e92b';
$gc-icon__arrow-left-3-Line-L: '\e984';
$gc-icon__arrow-left-3-Line-R: '\e985';
$gc-icon__arrow-left-3-Line-S: '\e92c';
$gc-icon__tooltip-Fill: '\e94e';
$gc-icon__arrow-right-3-Line-S: '\e961';
$gc-icon__arrow-right-3-Line-L: '\e986';
$gc-icon__arrow-right-3-Line-R: '\e99f';
$gc-icon__checkbox-Line-L: '\e92a';
$gc-icon__checkbox-Line-L1: '\e92d';
$gc-icon__dropdown-arrow-down-Fill: '\e980';
$gc-icon__dropdown-arrow-up-Fill: '\e95c';
$gc-icon__thumb-bad-Fill: '\e95d';
$gc-icon__thumb-good-Fill: '\e95e';
$gc-icon__account-Line-L: '\e95a';
$gc-icon__exit-Line-L: '\e95b';
$gc-icon__settings-Line-L: '\e956';
$gc-icon__currency-Line-R: '\e955';
$gc-icon__device-access-time-Line-R: '\e954';
$gc-icon__correct: '\e902';
$gc-icon__country: '\e903';
$gc-icon__data: '\e904';
$gc-icon__location: '\e905';
$gc-icon__email: '\e906';
$gc-icon__false: '\e907';
$gc-icon__password1: '\e908';
$gc-icon__password2: '\e909';
$gc-icon__person: '\e90a';
$gc-icon__personAdd: '\e90b';
$gc-icon__persons: '\e90c';
$gc-icon__personsContour: '\e90d';
$gc-icon__personsContourSmall: '\e90e';
$gc-icon__phone: '\e90f';
$gc-icon__search: '\e913';
$gc-icon__add: '\e914';
$gc-icon__addSmall_1: '\e915';
$gc-icon__addSmall: '\e916';
$gc-icon__arrow-down-1-Line-R: '\e917';
$gc-icon__arrowDownWide: '\e918';
$gc-icon__arrowRightWide: '\e94f';
$gc-icon__arrowLeftWide: '\e950';
$gc-icon__arrow-left-1-Line-R: '\e919';
$gc-icon__arrow-right-1-Line-R: '\e91a';
$gc-icon__arrow-up-1-Line-R: '\e91b';
$gc-icon__arrowUpWide: '\e91c';
$gc-icon__back: '\e91d';
$gc-icon__backSmall: '\e91e';
$gc-icon__backward: '\e91f';
$gc-icon__backwardSmall: '\e920';
$gc-icon__closeBar: '\e921';
$gc-icon__currency: '\e922';
$gc-icon__dashboard: '\e923';
$gc-icon__close: '\e924';
$gc-icon__drag: '\e925';
$gc-icon__edit: '\e926';
$gc-icon__errorContour: '\e927';
$gc-icon__export: '\e928';
$gc-icon__eyeInvisible: '\e929';
$gc-icon__eyeVisible: '\e92e';
$gc-icon__filter: '\e960';
$gc-icon__forward: '\e981';
$gc-icon__forwardSmall: '\e982';
$gc-icon__fullcreen: '\e92f';
$gc-icon__fullscreenActive: '\e930';
$gc-icon__further: '\e931';
$gc-icon__furtherSmall: '\e932';
$gc-icon__import: '\e933';
$gc-icon__informationContour: '\e934';
$gc-icon__noData: '\e935';
$gc-icon__noNotifications: '\e936';
$gc-icon__notifications: '\e937';
$gc-icon__reload: '\e938';
$gc-icon__reset: '\e939';
$gc-icon__settings: '\e962';
$gc-icon__successContour: '\e93a';
$gc-icon__switch: '\e93b';
$gc-icon__warningContour: '\e93c';
$gc-icon__beverages: '\e93d';
$gc-icon__costs: '\e93e';
$gc-icon__food: '\e93f';
$gc-icon__noon: '\e940';
$gc-icon__other: '\e941';
$gc-icon__revPash: '\e942';
$gc-icon__sales: '\e943';
$gc-icon__seat: '\e944';
$gc-icon__squareMeter: '\e945';
$gc-icon__sunriseSunset: '\e946';
$gc-icon__tableInside: '\e947';
$gc-icon__tableOutside: '\e948';
$gc-icon__tableOutsideRoof: '\e949';
$gc-icon__tableRotation: '\e94a';
$gc-icon__tableSales: '\e94c';
$gc-icon__TableSalesCircle: '\e98e';
$gc-icon__delete: '\e94d';
$gc-icon__calendar: '\e951';
$gc-icon__trash: '\e966';
$gc-icon__check: '\e952';
$gc-icon__cross: '\e953';
$gc-icon__filter-budget-Contour-S: '\e959';
$gc-icon__lock-Line: '\e963';
$gc-icon__unlock-Line: '\e964';
$gc-icon__lock-Fill: '\e965';
$gc-icon__unlock-Fill: '\e983';
$gc-icon__more-horiz-Fill: '\2026';
