@import 'styles/timing';
@import 'styles/tools';
@import 'styles/z-indexes';

// Primary Colors
$PrimaryColor1: rgb(231, 243, 244);
$PrimaryColor2: rgb(208, 232, 234);
$PrimaryColor3: rgb(162, 209, 214);
$PrimaryColor4: rgb(116, 187, 192);
$PrimaryColor5: rgb(69, 164, 173);
$PrimaryColor6: rgb(46, 153, 163);
$PrimaryColor7: rgb(0, 120, 130);
$PrimaryColor8: rgb(0, 96, 105);
$PrimaryColor9: rgb(0, 60, 65);
$PrimaryColor10: rgb(0, 36, 38);

// Gray Colors
$Gray1: rgb(242, 243, 245);
$Gray2: rgb(231, 235, 238);
$Gray3: rgb(212, 218, 225);
$Gray4: rgb(185, 190, 198);
$Gray5: rgb(130, 138, 150);
$Gray6: rgb(103, 111, 123);
$Gray7: rgb(85, 97, 112);
$Gray8: rgb(64, 75, 90);
$Gray9: rgb(45, 58, 76);
$Gray10: rgb(21, 29, 39);

// Signal Colors
$SignalColorInfo1: rgb(231, 243, 244);
$SignalColorInfo2: rgb(162, 209, 214);
$SignalColorInfo3: rgb(46, 153, 163);
$SignalColorInfo4: rgb(0, 120, 130);
$SignalColorInfo5: rgb(0, 96, 105);
$SignalColorSuccess1: rgb(237, 245, 207);
$SignalColorSuccess2: rgb(218, 236, 162);
$SignalColorSuccess3: rgb(156, 205, 1);
$SignalColorSuccess4: rgb(128, 167, 0);
$SignalColorSuccess5: rgb(114, 150, 0);
$SignalColorWarning1: rgb(254, 235, 210);
$SignalColorWarning2: rgb(254, 195, 142);
$SignalColorWarning3: rgb(253, 149, 8);
$SignalColorWarning4: rgb(208, 122, 5);
$SignalColorWarning5: rgb(185, 109, 6);
$SignalColorError1: rgb(255, 233, 235);
$SignalColorError2: rgb(255, 192, 195);
$SignalColorError3: rgb(255, 30, 38);
$SignalColorError4: rgb(186, 21, 28);
$SignalColorError5: rgb(116, 13, 18);

// Other Colors
$ContentBackgroundColor: rgb(255, 255, 255);
$BackgroundColor: rgb(246, 251, 251);
$BackdropColor: rgba($Gray9, 0.5);

// Font Colors
$FontColor1: $Gray4;
$FontColor2: $Gray5;
$FontColor3: $Gray7;
$FontColor4: $Gray9;
$FontColorInverted: rgb(255, 255, 255);

// Font sizes
$FontSizeTiny: 0.56rem; // =   9px  =   7 pt
$FontSizeSmall: 0.75rem; // =  12px  =   9 pt
$FontSizeRegular: 1rem; // =  16px  =  12 pt
$FontSizeMedium: 1.25rem; // =  20px  =  15 pt
$FontSizeLarge: 1.5rem; // =  24px  =  18 pt
$FontSizeVeryLarge: 2rem; // =  32px  =  24 pt

//  Font Families
$FontFamilyRoboto: 'Roboto', sans-serif;
$FontFamilyRobotoCondensed: 'Roboto Condensed', sans-serif;
$FontFamilyRubik: 'Rubik', sans-serif;

//  Font Weights
$FontWeightLight: 300;
$FontWeightRegular: 400;
$FontWeightMedium: 500;
$FontWeightBold: 700;

// Shadows
$BoxShadow1: 0 1px 3px 0 rgba($Gray9, 0.4);
$BoxShadow2: 0 0 20px 0 rgba($Gray9, 0.2);
$BoxShadow3: 3px 10px 50px 0 rgba($Gray9, 0.5);
$BoxShadow4: 3px -10px 50px 0 rgba($Gray9, 0.5);
$BoxShadow5: 3px 10px 50px 0 rgba($Gray9, 1);

// Spacing Sizes
$SizeTiny: 0.3125rem; //  5 px
$SizeSmall: 0.625rem; // 10 px
$SizeRegular: 1rem; // 16 px
$SizeLarge: 1.25rem; // 20 px
$SizeVeryLarge: 2rem; // 32 px
$SizeExtraLarge: 3rem; // 48 px

// Input sizes
$InputHeightRegular: $SizeVeryLarge;
$InputHeightSmall: 1.75rem; // 28px

// Text Styles
@mixin headline1() {
  font: {
    family: $FontFamilyRubik;
    weight: $FontWeightMedium;
    size: 1.875rem; // 30px
  }
  color: $Gray9;
  letter-spacing: 0.01875rem; // 0.3px
  line-height: 2.1875rem; // 35px
}

@mixin headline2() {
  font: {
    family: $FontFamilyRubik;
    weight: $FontWeightMedium;
    size: 1.5rem; // 24px
  }
  color: $Gray9;
  letter-spacing: 0.01875rem; // 0.3px
  line-height: 2.1875rem; // 35px
}

@mixin headline3() {
  font: {
    family: $FontFamilyRubik;
    weight: $FontWeightMedium;
    size: 1.25rem; // 20px
  }
  color: $Gray9;
  letter-spacing: 0.01875rem; // 0.3px
  line-height: 1.625rem; // 26px
}

@mixin body1-1() {
  font: {
    family: $FontFamilyRubik;
    weight: $FontWeightRegular;
    size: 1rem; // 16px
  }
  color: $Gray9;
  letter-spacing: 0.01875rem; // 0.3px
  line-height: 1.4375rem; // 23px
}

@mixin body1-2() {
  font: {
    family: $FontFamilyRubik;
    weight: $FontWeightMedium;
    size: 1rem; // 16px
  }
  color: $Gray9;
  letter-spacing: 0.01875rem; // 0.3px
  line-height: 1.4375rem; // 23px
}

@mixin body2-1() {
  font: {
    family: $FontFamilyRubik;
    weight: $FontWeightRegular;
    size: 0.875rem; // 14px
  }
  color: $Gray9;
  letter-spacing: 0.01875rem; // 0.3px
  line-height: 1.25rem; // 20px
}

@mixin body2-2() {
  font: {
    family: $FontFamilyRubik;
    weight: $FontWeightMedium;
    size: 0.875rem; // 14px
  }
  color: $Gray9;
  letter-spacing: 0.01875rem; // 0.3px
  line-height: 1.25rem; // 20px
}

@mixin button1() {
  font: {
    family: $FontFamilyRubik;
    weight: $FontWeightMedium;
    size: 1rem; // 16px
  }
  color: $Gray9;
  letter-spacing: 0.01875rem; // 0.3px
  line-height: 2rem; // 32px
}

@mixin button2() {
  font: {
    family: $FontFamilyRubik;
    weight: $FontWeightMedium;
    size: 0.875rem; // 14px
  }
  color: $Gray9;
  letter-spacing: 0.01875rem; // 0.3px
  line-height: 1.75rem; // 28px
}

@mixin caption1() {
  font: {
    family: $FontFamilyRubik;
    weight: $FontWeightRegular;
    size: 0.75rem; // 12px
  }
  color: $Gray9;
  letter-spacing: 0.01875rem; // 0.3px
  line-height: 1rem; // 16px
}

@mixin caption1-2() {
  font: {
    family: $FontFamilyRubik;
    weight: $FontWeightMedium;
    size: 0.75rem; // 12px
  }
  color: $Gray9;
  letter-spacing: 0.01875rem; // 0.3px
  line-height: 1rem; // 16px
}

@mixin overline() {
  font: {
    family: $FontFamilyRubik;
    weight: $FontWeightRegular;
    size: 0.625rem; // 10px
  }
  color: $Gray5;
  letter-spacing: 0.08125rem; // 1.3px
  line-height: 0.75rem; // 12px
}

// Old Variables

// Border Radii
$BorderRadiusStandard: 2px;
$BorderRadiusLarge: 4px;

// Media Queries
$fromBreakpoint5: 'only screen and (min-width: 1320px)';
$toBreakpoint5: 'only screen and (max-width: 1319px)';

$fromBreakpoint4: 'only screen and (min-width: 1024px)';
$toBreakpoint4: 'only screen and (max-width: 1023px)';

$fromBreakpoint3: 'only screen and (min-width: 936px)';
$toBreakpoint3: 'only screen and (max-width: 935px)';

$fromBreakpoint2: 'only screen and (min-width: 768px)';
$toBreakpoint2: 'only screen and (max-width: 767px)';

$fromBreakpoint1: 'only screen and (min-width: 650px)';
$toBreakpoint1: 'only screen and (max-width: 649px)';

$MediaSmartphone: 'only screen and (max-device-width : 479px) and (orientation: portrait), only screen and (max-device-width : 767px) and (orientation: landscape)';
$MediaToLargePhone: 'only screen and (max-width : 780px), only screen and (max-width : 767px) and (orientation : landscape)';

$MediaToIpadPortrait: 'only screen and (max-width : 767px)';
$MediaFromIpadPortrait: 'only screen and (min-width : 768px)';

// Sizes

$ContentMaxWidth: 1320px;

// Button Colors
$ButtonColorRed: rgb(255, 82, 82);
$ButtonColorRedDark: darken($ButtonColorRed, 10%);
